@import url('https://fonts.googleapis.com/css?family=Montserrat');

.App{
  text-align: center;
  font-family: 'Montserrat';
  background: fixed rgb(48, 48, 48);
  height: fit-content;
  width: fill;
  color: rgb(226, 219, 206);
  font-size: 22px;
  font-weight: 500;
}

.Header {
  position: fixed;
  height: 60px;
  color: white;
  display: flex;
  width: 100%;
}
.Nav-center{
  flex-grow: 1;
}
.Nav{
  flex-grow: 0;
  margin-right: 20px;
  margin-top: 5px;
}
.NavMenu {
  height: 100%; 
  position: fixed; 
  font-size: 25px;
  z-index: 1; 
  top: 0; 
  right: 0;
  background-color: rgba(48, 48, 48, 0.911); 
  overflow-x: hidden;
  /* padding-top: 60px;  */
  transition: 0.1s; 
  text-align: left;
}
.NavMenu a{
  color: rgb(226, 219, 206);
  text-decoration: none;
  padding-left: 7px;
}
.NavMenu a:hover{
  color: whitesmoke;
}
.NavMenu br{
  line-height: 70px;
}
.NavMenu p{
  color:#cccccc;
  text-align: right;
  font-size: 18px;
  padding-right:7px;
}
.Logo {
  flex-grow: 0;
  height: 60px;
}
.MenuIcon{
  width: 60px;
  height: 60px;
  margin-top: 9px;
  margin-right: 8px;
  height: 40px; 
}
.MenuIconlines{
  color: white;
}


body{
  background:rgb(48, 48, 48);
  min-height: 100vh;
}
hr{
  height: 2px;
  width: 200px;
  animation-name: grow;
  animation-timing-function: linear;
  animation-duration: 3s;
  animation-iteration-count: 1;
  background:rgb(83, 83, 83);
  border: none;
}
@keyframes grow{
  0%{
    width: 0px;
  }
  100%{
    width: 200px;
  }
}
.Content{
  padding: 15px;
  margin: 15px 13px;
  text-align: left;
}
.MainText{
  font-size: 14px;
  font-weight: 2px;
  color: rgb(224, 215, 198);
  text-decoration: none;
}
.Main a{
  font-size: 22px;
  font-weight: 500;
  color: rgb(224, 215, 198);
  text-decoration: none;
}
.MainPhoto{
  margin-top: 10px;
}
.Inputbox{
  width: 200px;
  height: 30px;
  padding-left: 10px;
  border: none;
  background: rgb(19, 19, 19);
  color:rgb(184, 172, 150);
}
button{
  background: rgb(19, 19, 19);
  color: rgb(136, 136, 136);
  border: none;
  border-radius: 2px;
  padding: 5px 8px;
}
.Userpic{
  height:40px; 
  border-radius:40px
}


footer{
  bottom: 0;
  margin-bottom: 10px;
}
.Footer a{
  font-size: 20px;
  color: #838383;
  text-decoration: none;
}


